<!-- <div *ngIf="isLoading">Loading ...</div> -->
<!-- <input type="text" #searchInput class="search-input" />
<div class="div-suggestions-wrapper">
    <div *ngFor="let item of suggestions">
        <span class="autocomplete-items" (click)="selected($event.target)">
            {{item}}
        </span>
    </div>
</div> -->

<form autocomplete="off">
    <div class="autocomplete" style="width:300px;">
        <input type="text" #searchInput placeholder="City ...">
        <div class="autocomplete-items">
            <div *ngFor="let item of suggestions" (click)="selected($event.target)">
                {{item}}
            </div>  
        </div>
    </div>
</form>